@use "variables" as var;

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin nav {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  background-color: var.$bg-color;
  font-family: "Source Code Pro", monospace;
  width: 100%;
  position: fixed;
  height: 50px;

  ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
    // justify-content: flex-start;
  }

  a {
    color: var.$accent-color;
    text-decoration: none;
    transition: linear 0.2s border-bottom;

    &:hover {
      border-bottom: 1px solid var.$accent-color;
    }
  }
}
@mixin firstPage {
  height: 100vh;
  width: 100vw;
  background-color: var.$bg-color;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    margin: 0;
    font-family: "Source Code Pro", monospace;
    font-size: 2.5em;
    color: rgb(204, 38, 141);
  }

  &--text__sub {
    color: white;
    text-align: center;
    font-family: "Source Code Pro", monospace;
  }
}

@mixin aboutMePage {
  padding-top: 10%;
  background-color: var.$accent-color;
  width: 100%;
  height: 100vh;

  .aboutMe--container {
    display: flex;
    align-items: center;
  }

  .aboutMe--text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    padding-left: 10px;
    h2 {
      font-family: "Source Code Pro", monospace;
    }
    p {
      text-align: center;
      margin: 0;
      font-family: "Poppins", sans-serif;
    }
  }

  .aboutMe--img {
    display: flex;
    justify-content: center;
    img {
      width: 70%;
      border: none;
      border-radius: 50%;
    }
  }
}

@mixin projectsPage {
  padding-top: 5%;
  margin: 0;
  width: 100%;
  background-color: var.$bg-color;

  .projects--container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .memory,
  .graphql,
  .webshop {
    background-color: white;
    margin: 20px;
    box-shadow: 1px 10px 10px 1px rgba(0, 0, 0, 0.5);
  }


  .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 730px;

    img {
      width: 90%;
    }

    p {
      text-align: center;
      font-family: "Poppins", sans-serif;
      color: var.$bg-color;
      width: 90%;
    }
  }

  h2 {
    font-family: "Source Code Pro", monospace;
    color: var.$bg-color;
  }

  h1 {
    margin: 0;
    font-family: "Source Code Pro", monospace;
    color: var.$accent-color;
    text-align: center;
    font-size: 2em;
  }
}

@mixin typeAnimation {
  overflow: hidden;
  border-right: 0.15em solid rgb(204, 38, 141);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.1em;
  animation: typing 3.5s steps(40, end), blink-caret 0.55s step-end infinite;
}
