@use "variables" as var;

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin nav {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  background-color: var.$bg-color;
  font-family: "Source Code Pro", monospace;
  width: 100%;
  position: fixed;
  height: 85px;

  ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
    // justify-content: flex-start;
  }

  a {
    color: var.$accent-color;
    text-decoration: none;
    transition: linear 0.2s border-bottom;

    &:hover {
      border-bottom: 1px solid var.$accent-color;
    }
  }
}

@mixin logo {
  position: relative;
  img {
    width: 80px;
    position: absolute;
    left: -120px;
    top: -20px;
  }
}
@mixin firstPage {
  height: 100vh;
  width: 100vw;
  background-color: var.$bg-color;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    margin: 0;
    font-family: "Source Code Pro", monospace;
    font-size: 2em;
    color: rgb(204, 38, 141);
  }

  &--text__sub {
    color: white;
    text-align: center;
    font-family: "Source Code Pro", monospace;
  }
}

@mixin aboutMePage {
  // padding-top: 10%;
  background-color: var.$accent-color;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;

  .aboutMe--container {
    display: flex;
    flex-direction: column;
  }

  .aboutMe--text {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-family: "Source Code Pro", monospace;
      margin: 0;
      font-size: 2em;
    }
    p {
      text-align: center;
      font-family: "Poppins", sans-serif;
      width: 90%;
    }
  }

  .aboutMe--img {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    img {
      width: 50%;
      border: none;
      border-radius: 50%;
    }
  }
}

@mixin projectsPage {
  padding-top: 5%;
  margin: 0;
  width: 100%;
  background-color: var.$bg-color;

  .projects--container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .memory,
  .graphql,
  .webshop, .weather {
    background-color: white;
    margin: 20px;
    box-shadow: 1px 10px 10px 1px rgba(0, 0, 0, 0.5);
  }

  .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 730px;

    img {
      width: 90%;
    }

    p {
      text-align: center;
      font-family: "Poppins", sans-serif;
      color: var.$bg-color;
      width: 90%;
    }

    a {
      color: var.$bg-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        color: var.$accent-color;
      }
    }
  }

  h2 {
    font-family: "Source Code Pro", monospace;
    color: var.$bg-color;
  }

  h1 {
    margin: 0;
    font-family: "Source Code Pro", monospace;
    color: var.$accent-color;
    text-align: center;
    font-size: 2em;
  }
}

@mixin techStack {
  font-family: "Source Code Pro", monospace;
  background-color: var.$accent-color;
  border: 4px solid var.$accent-color;
  border-radius: 20px;
  color: rgb(250, 247, 247);
  font-size: 0.9em;
}

@mixin contactMe {
  background-color: var.$accent-color;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  text-align: center;
  font-size: 1.5em;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

@mixin footer {
  background-color: var.$bg-color;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .icons {
    display: flex;
    font-size: 2.9em;
    gap: 10px;

    a {
      color: var.$accent-color;
    }
  }
}
@mixin typeAnimation {
  overflow: hidden;
  border-right: 0.15em solid rgb(204, 38, 141);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.1em;
  animation: typing 3.5s steps(40, end), blink-caret 0.55s step-end infinite;
}
