@use "mixins";
@use "variables" as var;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  position: relative;
}

.welcomePage {
  @include mixins.firstPage;

  @include mixins.tablet {
    h1 {
      font-size: 3em;
    }
  }
}

nav {
  @include mixins.nav;

  @include mixins.tablet {
    nav {
      justify-content: space-evenly;
    }
    ul {
      justify-content: flex-start;
    }
  }
}

.aboutMe {
  @include mixins.aboutMePage;

  @include mixins.tablet {
    justify-content: flex-start;
  }
}

.projects {
  @include mixins.projectsPage;

  @include mixins.tablet {
    .projects--container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    .project {
      width: 40%;
      height: 770px;

      img {
        height: auto;
      }
    }
  }
}

//typing animationen
.typewriter h2 {
  @include mixins.typeAnimation;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  45% {
    border-color: rgb(204, 38, 141);
  }
}

.icon {
  position: relative;
}
.fa-cat {
  position: absolute;
  left: -50px;
  color: var.$accent-color;
  font-size: 2em;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.tech {
  font-family: "Source Code Pro", monospace;
  background-color: var.$accent-color;
  border: 4px solid var.$accent-color;
  border-radius: 20px;
  color: rgb(250, 247, 247);
  font-size: 0.9em;
}

footer {
  background-color: var.$accent-color;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h2 {
    margin: 0;
  }

  .icons {
    display: flex;
    font-size: 2.9em;
    gap: 10px;
    

    a {
      color: var.$bg-color;
    }
  }
}